## buscando en google

In [151]:
# importo el web driver
import time
from selenium import webdriver

# especifico la dirección de chromedriver.exe
driver = webdriver.Chrome()

driver.get('https:www.google.com')
time.sleep(1)

search_query = driver.find_element_by_name('q')
search_query.send_keys('site:linkedin.com/company/ AND (founder OR CEO) AND ("Marketing y publicidad") AND "Buenos Aires" AND ("-50 empleados")')
time.sleep(0.5)

In [7]:
search_query.send_keys(webdriver.common.keys.Keys.RETURN)

In [8]:
#time.sleep(3)
linkedin_urls = driver.find_elements_by_class_name('r')
linkedin_urls2 = [url.text for url in linkedin_urls]

In [135]:
%%time
linkedin_urls2 = []
for i in range(0, 28):
    driver.get('https://www.google.com/search?q=site:linkedin.com/company/+AND+(founder+OR+CEO+OR+fundador)+AND+(%22Marketing+y+publicidad%22)+AND+%22Buenos+Aires%22+AND+(%22-50+empleados%22)&client=firefox-b-d&ei=u4FtX8ekI8Sw5OUPv9qA6Aw&start='
               + str(i*10) +
               '&sa=N&ved=2ahUKEwiH7sGGy4PsAhVEGLkGHT8tAM0Q8tMDegQIDBAw&biw=1368&bih=768&dpr=2')
    linkedin_urls = driver.find_elements_by_class_name('eipWBe')
    for item in linkedin_urls:
        linkedin_urls2.append(item.text)

Wall time: 30 s

In [146]:
#linkedin_urls = linkedin_urls2.copy()
len(linkedin_urls2)
#linkedin_urls2

265

In [142]:
%%time
linkedin_urls2 = [item.replace("›", "") for item in linkedin_urls2]
linkedin_urls2 = [item.replace("company", "") for item in linkedin_urls2]
linkedin_urls2 = [item.replace(" ", "") for item in linkedin_urls2]
linkedin_urls2 = [item.replace("es-es", "") for item in linkedin_urls2]
linkedin_urls2 = [item.replace("zh-cn", "") for item in linkedin_urls2]

for i in range(0, len(linkedin_urls2)):
    if (linkedin_urls2[i].find('...') != -1) or (linkedin_urls2[i].find('..') != -1) or (linkedin_urls2[i] == ''):
        linkedin_urls2.pop(i)

linkedin_urls2 = [('https://www.linkedin.com/company/'+item) for item in linkedin_urls2]

Wall time: 1.99 ms

In [147]:
from pandas import DataFrame
df = DataFrame(linkedin_urls2,columns=['Column_Name'])
df.to_csv(r'linkedin_empresas_mkt_11a50empleados.csv', index = False)

# Esto no va jeje

In [27]:
import pandas as pd
df = pd.read_csv('linkedin4.csv')
len(df)

114

In [20]:
df = df.applymap(lambda x: x[len('https://www.linkedin.com/in/'):])
#df = df.applymap(lambda x: x.replace('pipojojo', 'https://www.linkedin.com/in/'))
df

                                           Column_Name
0            https://www.linkedin.com/in/gabrielgruber
1           https://www.linkedin.com/in/santiagoechazu
2         https://www.linkedin.com/in/sebastianserrano
3       https://www.linkedin.com/in/alejandrocosentino
4         https://www.linkedin.com/in/germandyzenchauz
..                                                 ...
113              https://www.linkedin.com/in/danpatino
114  https://www.linkedin.com/in/francisco-siutti-2...
115         https://www.linkedin.com/in/danielnegrotto
116               https://www.linkedin.com/in/fedegona
117          https://www.linkedin.com/in/horaciocuervo

[118 rows x 1 columns]

In [21]:
df.to_csv(r'linkedin2.csv', index = False)